@import '~vuetify/src/styles/styles.sass';
// @import '../node_modules/@aasaam/noto-font/dist/font-face.css';

body {
  font-family: 'aasaam-Noto', sans-serif !important;
}
.v-application {
  font-family: 'aasaam-Noto' !important;
}
.vpd-wrapper {
  font-family: 'aasaam-Noto', sans-serif !important;
}
$typoOptions: display-4 display-3 display-2 display-1 headline title subtitle-1 subtitle-2 body-1 body-2 caption overline;
%font-choice {
  font-family: "aasaam-Noto", sans-serif !important;
}

@mixin md-typography {
  @each $typoOption in $typoOptions {
      .#{$typoOption} {
        @extend %font-choice;
      }
  }
}

.v-application {
  @extend %font-choice;
  @include md-typography;
}
// .v-btn {
//   font-family: 'aasaam-Noto' !important;
// }
.v-input .v-label {
  height: 23px !important;
  line-height: 23px !important;
}
.v-select__selections {
  line-height: 20px !important;
}
.grad-color {
  background-image: linear-gradient(#2196F3, #09487A );
}